<% if flash.has?(:err) %>
    <h3 style="color: red;"><%= flash[:err] %></h3>
<% end %>

<% if @user %>
    <h1>Hi, <%= @user.username %>!</h1>
    <h2>Here is a collection of your StorieZZZ</h2>
<% else %>
    <h2>StorieZZZ by the Community</h2>
<% end %>

<% @dreams.each do |dream| %>
    <p><a href="/dreams/<%= dream.id %>"><%= dream.description.split(" ")[0..4].join(" ")... %></a> (<%= dream.category %>)</p>
<% end %>